#所有空行或者以注释符号 # 开头的行都会被 Git 忽略。
#可以使用标准的 glob 模式匹配。
#匹配模式最后跟反斜杠(/)说明要忽略的是目录。
######################
#要忽略指定模式以外的文件或目录,可以在模式前加上惊叹号(!)取反。
#  此为注释 – 将被 Git 忽略
#  *.a     # 忽略所有 .a 结尾的文件
#  !lib.a  # 但 lib.a 除外
#  /TODO   # 仅仅忽略项目根目录下的 TODO 文件,不包括 subdir/TODO
#  build/ # 忽略 build/ 目录下的所有文件
#  doc/*.txt # 会忽略 doc/notes.txt 但不包括 doc/server/arch.txt

*.xcuserstate
xcshareddata/
